<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Bienvenido a RubyAhorcado</h1>
	<form action="/configurar" method="post">
		<h3>¿Quiere Jugar?</h3>
		<input type="submit" value="Jugar">
	</form>
</body>
</html>