<!--Juego.erb-->

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>"Juguemos!!!"</h1>
	<h1> <%= session['mensaje'] %> </h1>
	<h2> <%= session['reto']%> </h2>
	<form action="/validar" method="post">
		<input type="texto" name="intento">
		<input type="submit" value="Adivinar">

	</form>
	<h1>_  _  _  _  _</h1>
	<h1>Recuerda que tienes hasta 5 intentos fallidos</h1>
	<h2> <%= session['resultado']%> </h2>

	<h2> <%= session['historico']%> </h2>
</body>
</html>